body {
    background-color: #b7ebda;
}

.container {
    height: 500px;
    width: 500px;
    background-color: white;
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-250px;
    margin-top:-250px;
    display: grid;
}

.row {
    display:flex;
}

.column {
    flex: 1;
}

.black {
    background-color: black;
}

.error {
    text-align: center;
    font-size: 32px;
    margin-top: 40px;
}

button {
    margin-left: 60px;
}